* {
  padding: 0;
  margin: 0;
  border: 0px solid color(226, 232 240);
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
}

p {
  color: gray;
}

.section {
  display: block;
}
h2 {
  font-size: 48px;
}

ul {
  list-style: none;
}

div {
  box-sizing: border-box;
  border: 0 solid gray;
}
i {
  color: #5d3eff;
  
}
h1 {
  
}
a {
  text-decoration: none;
}

.section__title {
  font-size: 48px;
  align-items: center;
  justify-content: center;
}
.header__two {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 32px;
}

button {
  cursor: pointer;
  background-color: #6030b1;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  position: absolute;
  
}



.subheader {
  right: 24px;
  text-align: center;
  width: 100%;
  font: 18px;
  color: grey;
  margin: 32px 0px 32px;
}


.text--purple {
  color: #5d3eff;
}
.row {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}


.logo {
  width: 80px;
  margin-right: 0.75rem;
  width: 2.5rem;
}


.treact__name {
  text-decoration: none;
}

.about-company__info--container {
  display: flex;
  justify-content: start;
  flex-direction: row-reverse;
  padding: 96px 0;
  width: 100%;
}

.master__row {
  padding: 50px;
}

/* NAVIGATION BAR */

.header {
 
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.header__one {
  font-size: 48px;
}

.logo {
  display: flex;
  align-items: center;
}

.treact__size {
  font-weight: 700px;
  font: 20px;
}

.nav__one {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.nav__container {
  display: flex;
  align-items: center;
  padding: 24px;
  justify-content: space-between;
  
}

.nav__container--two {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
}

.header__container {
  display: flex;

}

.nav__link {
  margin: 0px 1.5rem;
}
.nav__link--list {
  display: flex;

}

.nav__link--anchor {
  margin: 0 12px;
  font-weight: 14px;
  text-decoration: none;
}

.nav__link--anchor-primary {
  background-color: #6030b1;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
  transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
  background-color: #5d3eff;
}

.btn__menu {

  background-color: transparent;
  font-size: 40px;
  text-align: center;
  right: 30px;
  border: none;
  display: flex;
  color: white;
 display: none ;

}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
color: white;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__backdrop {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  z-index: 100 ;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px;
  border-color: gray;
  border-style: solid;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
 

}

.sign__up--menu {
  background-color: #6030b1;
  padding: 2px 100px;
  border-radius: 50px;
  color: white;
  transition: all 300ms ease;
}


.menu__link {
  color: black;
  padding: 32px 65px;
}

.menu__list {
  font-size: 18px;
  padding: 32px 0;
}

/* INTRO */

.section__title__one {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info__intro {
  width: 40%;
  padding: 0 24px;
  margin: 0 64px 0;
  max-width: none;
  align-items: center;
}

.treact__picture {
  width: 40%;
  
}

.info__intro--para {
  margin: 32px 0;
  font-size: 24px;
}

.email__box--primary {
  border-radius: 50px;
  padding: 16px 80px;
}

.email__box {
  display: flex;
  
  text-align: left;
}

.trusted {
  padding: 0 0 24px;
}

.customer__logo {
  max-width: 100%;
  display: flex;
  align-items: center;
}


.customers__wrapper {
  margin: 80px 0 0;
  max-width: 100%;
}

/* COLLUMN THREE */

.threecollumn__row {
  border: 100px;
  max-width: 100%;

 
}

.threecollumn__container {
  margin: 0 60px;
  padding: 96px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
/* 
Highlights
*/

.highlight__container__each {
  max-width: calc(100% /3);
}

.highlight__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;


}

.highlight {
  display: flex;
 flex-direction: row;
 align-items: flex-start;
 text-align: left;
 margin: 0 16px;
 padding: 32px 8px;
 width: 75%;
 
 

}

.highlight__para {
  text-align: center;
  margin: 16px 0 0;
  padding: 0 0 0 16px;
  font-weight: 500px;
  display: flex;
  text-align: left;
  color: gray;
  
}

.highlight__img {
  border: 2px solid rgba(128, 128, 128, 0.329);
  padding: 20px;
  border-radius: 30px;
}

.highlight__subtitle {
  margin: 16px 0 0;
  padding: 0 0 0 16px;
  font-weight: 500px;
  
}

/* SECTION TWO */

.section__two__container {
  display: flex;
  margin: 0 16px;
  padding: 96px 0;
  max-width: 100%;
}

.column__wrapper {
max-width: 50%;
}

.title__two {
 font-weight: 700px;
}
.section__two{
padding: 32px 0;
max-width: 100%;
margin: 0 64px 0;
text-align: left;
max-width: 100%;
}

.page__img__container {
  width: 40%;

}

.react__img {
  width: 90%;
 
}

.subheader__para {
  max-width: 100%;
  margin: 0 auto;
  padding: 12px;
  color: rgba(128, 128, 128, 0.534);
  font-weight: bold;
}

.number__list--container {
  font-size: 36px;
  color: rgba(128, 128, 128, 0.589);
}

.register__container {
  font-size: 20px;
}

.para__container {
  margin: 24px 0 0;
}
.subheader__two {
  margin: 16px 0 0;
  font-size: 48px;
  font-weight: 700;
  
  
}

/* SECTION THREE */


.row__three {
  position: relative;
  padding: 96px 0 96px;
}
.img__wrapper--two {
  width: 50%;
}
.shot__two {
  max-width: 100%;
}

.section__three {
 display: flex;
  flex-direction: row;
  margin: 0 16px;
  padding: 96px 0;
 
}

.section__list {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 40px 0;
  
}

.start__button {
  border-radius: 20px;
 border: none;
 margin: 10px 10px  0;
}

.highlight__img {

  max-width: 100%;
  
}

.number__list {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  
}

.started__container {
  text-align: left;
  font-weight: 700px;
  font-size: 48px;
  
}


.steps__list {
margin: 32px 0 0;
display: flex;
flex-direction: row;
}


.text__container {
  display: flex;
  flex-direction: column;
}





/* SECTION FOUR */
.values__row {
  display: flex;
  flex-direction: row-reverse;
}

.values__img {
  max-width: 100%;
 
}

.values__img__wrapper {

  width: 50%;
  
}

.img__wrapper--two {
  width: 50%;
}

.values__title {
  font-size: 48px;
  margin: 20px 0 0;
}

.values__para {
  text-align: left;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.521);
  margin: 32px 0 0;
  font-size: 20px;
}

.values__row {
  padding: 96px 0;
}


.values__column__container {
  margin: 0 64px;
  width: 40%;
}


.values__column {
  padding: 32px 0;
  
  
}

.affordable {
  margin: 0 0 0 12px;
}

.affordable__container {
display: flex;
}

.learn__more {
  margin: 32px 0 ;
}
.affordable__para {
  margin: 16px 0 16px 24px;
  text-align: left;
}
.afford__container {
  
  display: flex;
  flex-direction: row;
}


.horizontal {
 width: 100%;
 margin: 32px 32px 0 0;
}




.section__four {
  display: flex;
  flex-direction: row-reverse;
  padding: 96px 0;
}


/* SECTION FIVE */



.section__five {
  padding: 96px 0 ;
}

.three__plans__container {
  display: flex;
  flex-direction: row;
  max-width: calc(100/3);
  align-items: center;
  justify-content: center;
  
}

.three__plans__highlight {
  background:  black;
  border-top: 20px black;
  position: absolute;
}

.three__plans__column-two {
  background-color: rgb(100, 21, 255);
  background-image: rgb(102, 126, 234);
  color: white;
}

.three__plans__column-two,
.three__plans__column {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 64px 32px 0 46px;
  padding: 8px 32px 0;
  position: relative;
  height: 700px;
width: 400px;
  border-radius: 20px;
  box-shadow: 0px 2px 12px gray;
 
}

.header__para {
  color: gray;
  font-size: 18px;
  margin: 16px 0 0;
 padding: 0 120px 0;
}


.pricing__wrapper {
  margin: 0 0 16px;
}
.header__container {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  
 
}

.three__plans__button--wrapper {
display: flex;
justify-content: center;
}

.three__plans__button {
 border-radius: 20px;
 border: none;
 font-size: 16px;
 width: 30%;
 margin: 32px;
}

.price__plans__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
}


.features__wrapper {
  display: flex;
  flex-direction: column;
  padding: 32px;
  text-align: center;
 border: 1px solid gray;
  height: 50%;
}

.feature {
  margin: 20px 0 0;
}

.price {
  font-size: 48px;
  margin: 4px 0;
  font-weight: bold;
}
.headline {
  font-weight: 700;
}

.for {

  font-weight: 700;
  font-size: 24px;
}

/* SECTION SIX */

.test__container {
  padding: 96px 0;
}

.two__section {
  display: flex;
  flex-direction: row;
}

.img__test {
width: 40%;
margin: 0 64px 0;
}

.img__size {
  width: 100%;
}

.client__column {
  max-width: 50%;
  padding: 0 0 0 64px;
}

.stars{
  margin: 32px 0 20px;
}

.clients__container {
  margin: 24px 0 24px;
}

.hale__info {
  text-align: center;
justify-content: center;
margin: 24px 0 0 24px;
}

.hale__container {
  margin: 40px 0 0 0;
 display: flex;
}


.hale__picture--mask {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  overflow: hidden;
 
}

.hale__picture {
  width: 100%;
 
}

.name__hale {
  font-size: 20px;
}

/* unsure
.arrows {
  display: flex;
  justify-content: space-between;
  
  
}
*/


/* SECTION 7 */


.section__seven {
  padding: 96px 0;
  margin: 0 44px 0;
 
}

.section__seven--container {
  position: relative;
  display: flex;
  border-radius: .5rem;
  background-color: rgb(100,21,255);
  height: 300px;
padding:  0 100px;
  
}

.get__started__button {
  display: flex;
  text-align: center;
  justify-content: flex-end;
}


.developers {
font-size: 30px;

  max-width: 100%;
  color: white;
  padding: 40px;
}

.developers__container {
  max-width: 50%;
}
.section__seven--content {
display: flex;
justify-content: space-between;
align-items: center;
}



.get__started {
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
 
  border: solid 1px white;
  border-radius: 20px;
  margin: 10px 10px  0;
  
}


.contact__us {

  cursor: pointer;
  background-color: #6030b1;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;

  border: solid 1px white;
  border-radius: 20px;
  margin: 10px 10px  0;

}



.get__us--container {
display: flex;
justify-content: space-between;
justify-content: flex-end;
  
}




/* FOOTER */
.footer__rows {
  height: 300px;
}


footer {
  background-color: rgb(100 21 255);
  color: white;
}
.main__tag {
  align-items: center;
  text-align: left;
  padding: 12px;
}

.tags {
  color: white;
  list-style: none;
  padding: 20px;

}



.footer__rows--container {
  display: flex;
 flex-wrap: wrap;
height: 100%;
align-items: center;
  color: white;

}

.footer__main {

  display: flex;
  flex-direction: column;
  width: calc(100%/5);
  align-items: center;
  text-align: center;
  max-width: 100%;
  
}

.footer__info {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: space-between;

}

.treact__logo {
display: flex;
align-items: center;
margin: 0 0 24px 24px;
 
}

.extra__space {
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 100%;
  border-bottom-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(116,44,255);
}

.treact__inc {
  font-size: 20px;
}




/* Burger Menu */

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 728px) {

.about-company__info--container {
display: flex;
  flex-direction: column-reverse;
  text-align: center;
  align-items: center;
  max-width: 100%;
}

.media__center {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.info__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.customers__wrapper {
 text-align: center;
}

.customer__logo {
  width: 100%;
}

.trusted {
  padding: 0;
}


.treact__picture {
  width: 100%;
}

  .header__description {
    padding: 0 24px;
  }

.home__description {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  
}




.customer__logo {
 min-width: 100px;
}






.info__intro--para {
  text-align: center;
  font-size: 16px;
}


  h1 {
    text-align: center;
    font-size: 40px;
  
  }
  h2 {
    text-align: center;
    
  }

  button {
    font-size: 18px;
  }

.three__plans__column, .three__plans__column-two {
  
  width: 20%;

}



.start__button {
  display: flex;
  align-items: center;
  text-align: center;
}


.btn__menu {
  display: block;
}

.nav__link--list,
.nav__container--two {
  display: none;
}


.highlight__container__each {
max-width: 50%;



}


.three__plans__column, 
.three__plans__column-two {
  width: 45%;
}

.three__plans__container {
  max-width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}

.subheader__two {
  text-align: left;
}

.subheader__two {
  font-size: 40px;
  margin: 0;
  padding: 0;
}



.section__two {
  text-align: left;
  margin: 0 auto;
  
}

.page__img__container {
  width: 100%;
  margin: auto;
}

.values__img {
  max-width: 100%;
}
.section__list {
  text-align: left;
}

.img__wrapper--two {
  margin: auto;
}

.trusted {
  margin: 0 0 24px;
}

.values__column {
  text-align: center;
}
.values__img__wrapper {
  width: 100%;
  margin: auto;
}

.get__us {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

 margin: 0 0 24px;
}
.section__two__container {
  width: 100%;
}



.section__two {
  text-align: left;
}

.highlight__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.highlight__img {
  text-align: center;
  align-items: center;
}

.text__container {
  text-align: center;
}

.highlight {
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  min-width: 50%;
}

.client__column {
  padding: 0;
  text-align: left;
}

.clients__container {
  text-align: left;
}

.img__test {
  margin: auto;
}

.values__column {
  text-align: left;
}

.values__title {
  text-align: left;
}

.section__seven--content {
  max-width: 50%;
}

.developers__container {
max-width: 100%;
}

.section__seven--content {
  max-width: 100%;
  flex-direction: column;
 
}

.section__seven--container {
  padding: 0;
}

.section__seven {
  flex-direction: column;
}

.hale {
  flex-direction: column;
}

}









/* SMALL PHONES, LARGE SMARTPHONES */


@media (max-width: 550px) {
  .nav__links {
    display: none;
  }

  .customers__wrapper {
    max-width: 100%;
    
  }

.title__two {
  text-align: center;
}

.subheader__two {
  text-align: center;
}

.subheader__para {
  text-align: center;
}


.treact__picture {
  width: 100%;
}

  .section__two__container {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }

  .highlight__container__each {
    max-width: 100%;
  }

  .text__container {
    text-align: left;
  }


  
.started__container {
  text-align: center;
  width: 100%;
}

.img__wrapper--two {
  width: 100%;
  margin: 24px;
  align-items: center;
  justify-content: center;
}

.number__list--container {
  margin: auto;
}

  .learn__more {
   margin: 0 0 0 60px;
   text-align: center;
    
    
  }

  .page__img__container {
    width: 100%;
    margin: auto;
  }

.section__three {
  flex-direction:column;
  text-align: center;
  align-items: center;
}

.section__list {
  text-align: center;
  width: 100%;
  
}

.section__content {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.row {
  text-align: center;
  align-items: center;
}


.section__four {
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.values__column {
  text-align: center;
}
.values__title {
  text-align: center;
  width: 100%;
}

.values__para {
  text-align: center;
}



.afford__container {
  flex-direction: column;
}


.three__plans__column-two,
.three__plans__column {
  width: 80%;
}



.contact__us {
  margin: 0;
  padding: 0;
}

.developers {
  font-size: 22px;
}

.developers__container {
  width: 100%;
}

.two__section {
  flex-direction: column;
  text-align: center;
  align-items: center;
}

h5 {
  text-align: center;
}

.img__test {
  width: 100%;
}


}


.arrows {
  margin: auto;
}

.left__point {
  transform: rotate(-180deg);


}



.learn__more__container--two {

  
 display: flex;
 margin: 0 0 0 24px;
  text-align: center;
}